*
{
    margin: 0;
    padding: 0;
}
.back-img
{
    width: 100%;
    height: 600px;
    background-image: url('img/food-back.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}